@model IEnumerable<LanchesMac.Models.Snack>

    <div>
<h1 class="display-2">@ViewData["Title"]</h1>
</div>
<h2>@ViewData["Date"]</h2>
<hr />
<h3>@ViewBag.Total @ViewBag.TotalSnacks</h3>
<hr />

<div class="container">
    <div class="row">
        @foreach(var snack in Model)
        {
            <div class="col-md-6 col-lg-4">
                    <div>                       
                       <p><img class="img-fluid" src="@snack.ImageUrl"/></p>
                       <h4>@snack.Name</h4>
                       <h6>Price: @snack.Price.ToString("c")</h6>
                       <p>@snack.ShortDescription</p>
                    </div>
            </div>
        }
    </div>
</div>
